nav{
    margin-top: 20px;
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

a{
    color: black;
    text-decoration: none;
}

.user {
    font-weight: bold;
}

.buttonLogout {
    margin-left: 20px;
    padding: 5px 10px;
    background-color: #E8C84A;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonLogout:hover {
    background-color: red;
}

.userContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}